*{
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
}
body{
	background-color: rgb(55, 171, 158);
	display: grid;
	justify-items: center;
}
.container{
	display: grid;
	justify-items: center;
	align-items: center;
	width: 50%;
	height: 80vh;
	margin-top: 50px;
	/* padding: 25px; */
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	box-shadow: 10px 10px 50px black;
}
.container img{
	width: 150px;
}
.container textarea{
	outline: none;
	font-size: 24px;
	width: 80%;
	background-color: transparent;
	color: rgb(55, 171, 158);
	border: none;
	resize: none;
}
.container button{
	width: 20%;
	height: 5vh;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.6);
	color: rgb(55, 171, 158);
	border: none;
	border-radius: 20px;
	box-shadow: 2px 2px 10px black;
}
.container button:hover{
	background-color: rgb(55, 171, 158);
	color: white;
	box-shadow: 2px 2px 10px rgb(55, 171, 158);
}